# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (opsional, biasanya aman disembunyikan)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android
android/.gradle/
android/app/build/
android/build/
*.jks
local.properties

# iOS
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/build/
ios/Runner.xcworkspace/
ios/ServiceDefinitions.json

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/build/

# Windows
windows/flutter/ephemeral/
windows/build/

# Linux
linux/flutter/ephemeral/
linux/build/

# Web
web/.dart_tool/
web/.firebase/

# Other
*.tmp
*.lock
